@page "/"

@using Persistence.Repositories

@inject ITroopRepository TroopRepository

<h1>Troop Listing</h1>

<ul>
    @foreach (var troop in TroopRepository.GetTroops())
    {
        <li>@troop.Name</li>
    }
</ul>
